annotated-doc==0.0.4

annotated-types==0.8.0

anyio==4.9.0

bcrypt==4.0.1

cffi==2.0.0

click==8.3.0

colorama==0.4.6

cryptography==45.0.7

dnspython==2.8.0

ecdsa==0.19.1

email-validator==2.3.0

fastapi==0.140.0

greenlet==3.2.4

h11==0.16.0

idna==3.10

joblib==1.5.2

narwhals==2.4.0

numpy==2.2.6

pandas==2.2.3

passlib==1.7.4

pyasn1==0.6.1

pycparser==2.23

pydantic==2.11.7

pydantic-settings==2.10.1

pydantic_core==2.33.2

python-dateutil==2.9.0.post0

python-dotenv==1.1.1

python-jose==3.5.0

python-multipart==0.0.20

rsa==4.9.1

scikit-learn==1.7.2

scipy==1.16.2

six==1.17.0

SQLAlchemy==2.0.43

starlette==0.46.2

threadpoolctl==3.6.0

typing-inspection==0.4.2

typing_extensions==4.15.0

tzdata==2025.2

uvicorn==0.35.0